.footer__columns-links {
    display: flex;
    margin: 0;
    padding: 0;
    width: 359px;
    gap: 0 18px;
    list-style-type: none;
}

@media screen and (max-width:740px) {
    .footer__columns-links {
        flex-direction: column;
    }
}