.place {
    display: grid;
    grid-template-columns: 460px 456px;
    gap: 40px 48px;
    margin: 80px 0 0 0;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1100px) {
    .place {
        grid-template-columns: 440px 456px;
        gap: 32px 48px;
    }
}

@media screen and (max-width: 984px) {
    .place {
        margin-top: 73px;
        grid-template-columns: minmax(auto,340px) minmax(auto,352px);
        gap: 28px 48px;
    }
}

@media screen and (max-width: 700px) {
    .place {
        margin-top: 50px;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));;
        gap: 32px;
    }
}