.footer__author {
    color: #FFFFFF;
    margin-left: auto;
    width: 100%;
    text-align: right;
}

@media screen and (max-width:740px) {
    .footer__author {
        margin-top: 48px;
        text-align: left;
    }
}