.lead__title {
    position: relative;
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    font-display: swap;
    text-align: center;
    margin: 56px 0 0 0;
    color: #FFFFFF;
}

@media screen and (max-width:680px) {
    .lead__title {
        max-width: 288px;
        font-family: Inter;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
    }
}