.lead__sybtitle {
    max-width: 640px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    margin: 32px 0 0 0;
    color: #FFFFFF;
}

@media screen and (max-width:680px) {
    .lead__sybtitle {
        max-width: 288px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        margin: 16px 0 0 0;
    }
}