.cover {
    margin-top: 92px;
    font-family: 'inter';
    font-weight: 400;
    display: block;
    position: relative;
}

.cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.cover:hover::after {
    transition: all .5s linear;
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width:1024px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width:768px) {
    .cover {
        margin-top: 66px;
    }
}