.cover__background {
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: url(../../../images/cover-trains.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.cover__background::before {
    content: "";
    padding-top: calc(640 / 1024 * 100%);
}