.cover__background {
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: url(../../../images/cover-trains.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(0.625 * min(1024px,100vw));
    text-decoration: none;
}