.cover__title {
    max-width: 560px;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width:600px) {
    .cover__title {
        max-width: 288px;
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
    }
}