.place {
    display: grid;
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
    margin: 80px 0 0 0;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1100px){
    .place {
        grid-template-columns: minmax(auto, 440px) minmax(auto, 456px);
        gap: 48px 32px;
    }
}

@media screen and (max-width: 769px) {
    .place {
        margin-top: 73px;
        grid-template-columns: minmax(auto, 340px) minmax(auto, 352px);
        gap: 48px 28px;
    }
}

@media screen and (max-width: 681px) {
    .place {
        margin-top: 50px;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        gap: 32px;
    }
}